@model Device
@{
    ViewData["Title"] = "Apparaat bewerken";
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Apparaat bewerken</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="deviceName">Apparaatnaam</label>
            <input asp-for="deviceName" class="form-control" />
            <span asp-validation-for="deviceName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="brand">Merk</label>
            <input asp-for="brand" class="form-control" />
            <span asp-validation-for="brand" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <span asp-validation-for="serialNumber">Serienummer</span>
            <input asp-for="serialNumber" class="form-control" />
            <span asp-validation-for="serialNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <span asp-validation-for="osVersion">OS</span>
            <input asp-for="osVersion" class="form-control" />
            <span asp-validation-for="osVersion" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Apparaat bewerken</button>
        <a asp-controller="Device" asp-action="Index" class="btn btn-secondary" style="width: 150px">Terug naar overzicht</a>
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}