@using static TicketSystemWeb.Models.DeviceViewModel
@model DeviceViewModel

<form method="post">
    <input asp-for="DeviceId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Apparaat</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="DeviceName">Apparaatnaam</label>
            <input asp-for="DeviceName" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Brand">Merk</label>
            <input asp-for="Brand" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DeviceVersion">Versie</label>
            <input asp-for="DeviceVersion" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="SerialNumber">Serienummer</label>
            <input asp-for="SerialNumber" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OsVersion">OS</label>
            <input asp-for="OsVersion" disabled class="form-control" />
        </div>
        <br />
        <a asp-controller="Device" asp-action="Index" class="btn btn-primary" style="width: 150px">Terug naar overzicht</a>
    </div>
</form>
<br />
@section Scripts {
<partial name="_ValidationScriptsPartial" />
    }
