@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>In dit ticketsysteem kunt u IT-gerelateerde vragen en problemen vastleggen.<p>
    <p>Een servicedesk medewerker kan de openstaande vragen en problemen op deze manier beter managen en sneller tot een reactie komen.</p>
    <p>Daarnaast kunt u gemakkelijk de status van het ticket inzien.</p>
    <h2>Aan de slag</h2>
    <a asp-controller="Ticket" asp-action="Index" class="btn btn-success">Bekijk overzicht van tickets</a>
    <a asp-controller="Ticket" asp-action="Index" class="btn btn-primary">Bekijk mijn apparaten</a>

</div>
