<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Gewerke uren</h2>
            <p>Gewerkte uren per medewerker per ticket</p>
        </div>
    </div>
</div>
<br />
<br />

<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                Ticketnummer
            </th>
            <th>
                Probleemomschrijving
            </th>
            <th>
                Verantwoordelijke medewerker
            </th>
            <th>
                Gewerkte uren
            </th>
            <th>
                Bekijken
            </th>
            <th>
                Bewerken
            </th>
            <th>
                Verwijderen
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
