@using static TicketSystemWeb.Models.TicketViewModel
@model TicketViewModel

@{
    ViewData["Title"] = "Ticket aanmaken";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Ticket aanmaken</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="TicketSubject">Onderwerp</label>
            <input asp-for="TicketSubject" class="form-control" />
            <span asp-validation-for="TicketSubject" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TicketContent">Probleemomschrijving</label>
            <textarea asp-for="TicketContent" class="form-control" rows="7"></textarea>
            <span asp-validation-for="TicketContent" class="text-danger"></span>
        </div>
        <div class="row">
            <span asp-for="ticketCategory">Categorie</span>
            <div class="col-sm-3">
                <select asp-for="TicketCategory" asp-items="Html.GetEnumSelectList<ticketCategories>()" class="form-control">
                    <option selected="selected" value="">Kies een categorie</option>
                </select>
                <span asp-validation-for="TicketCategory" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <span asp-for="ticketPriority">Prioriteit</span>
            <div class="col-sm-3">
                <select asp-for="TicketPriority" asp-items="Html.GetEnumSelectList<ticketPriorities>()" class="form-control">
                    <option selected="selected" value="">Kies een prioriteit</option>
                </select>
                <span asp-validation-for="TicketPriority" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" style="width: 150px">Ticket aanmaken</button>
    <a asp-controller="Ticket" asp-action="Index" class="btn btn-secondary" style="width: 150px">Terug naar overzicht</a>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
