@using static TicketSystemWeb.Models.TicketViewModel
@model TicketViewModel
@{
    ViewData["Title"] = "Ticket verwijderen";
}

<form method="post" asp-action="Delete">
    <input asp-for="TicketId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Ticket</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="row">
            <span asp-validation-for="TicketStatus">Status</span>
            <div class="col-sm-3">
                <select asp-for="TicketStatus" asp-items="Html.GetEnumSelectList<ticketStatuses>()" class="form-control" disabled>
                    <option selected="selected" value="">@ticketStatuses.Gesloten</option>
                </select>
            </div>
        </div>
        <br />
        <div class="mb-3">
            <label asp-for="CreatedDateTime">Ticket voor het laatst aangepast op</label>
            <input asp-for="CreatedDateTime" disabled class="form-control">
            <br />
            <label asp-for="TicketId">Ticketnummer</label>
            <input asp-for="TicketId" disabled class="form-control">

            <br />
            <label asp-for="TicketSubject">Onderwerp</label>
            <input asp-for="TicketSubject" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="TicketSubject">Probleemomschrijving</label>
            <textarea asp-for="TicketContent" disabled class="form-control" rows="7"></textarea>
        </div>
        <div class="row">
            <span asp-validation-for="TicketCategory">Categorie</span>
            <div class="col-sm-3">
                <select asp-for="TicketCategory" asp-items="Html.GetEnumSelectList<ticketCategories>()" class="form-control" disabled>
                    <option selected="selected" value="">@ticketCategories.InterneSystemen</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <span asp-validation-for="TicketCategory">Prioriteit</span>
            <div class="col-sm-3">
                <select asp-for="TicketPriority" asp-items="Html.GetEnumSelectList<ticketPriorities>()" class="form-control" disabled>
                    <option selected="selected" value="">@ticketPriorities.Gemiddeld</option>
                </select>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-danger" style="width: 150px">Ticket verwijderen</button>
        <a asp-controller="Ticket" asp-action="Index" class="btn btn-secondary" style="width: 150px">Terug naar overzicht</a>
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
