@using static TicketSystemWeb.Models.TicketViewModel
@model TicketViewModel
@{
    ViewData["Title"] = "Ticket bewerken";
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Ticket bewerken</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="row">
            <div class="row">
                <span asp-validation-for="TicketStatus">Status</span>
                <div class="col-sm-3">
                    <select asp-for="TicketStatus" asp-items="Html.GetEnumSelectList<TicketStatuses>()" class="form-control">
                        <option selected="selected">Selecteer een status</option>
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div class="mb-3">
            <label asp-for="TicketSubject">Onderwerp</label>
            <input asp-for="TicketSubject" class="form-control" />
            <span asp-validation-for="TicketSubject" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TicketContent">Probleemomschrijving</label>
            <textarea asp-for="TicketContent" class="form-control" rows="7"></textarea>
            <span asp-validation-for="TicketContent" class="text-danger"></span>
        </div>
        <div class="row">
            <span asp-validation-for="TicketCategory">Categorie</span>
            <div class="col-sm-3">
                <select asp-for="TicketCategory" asp-items="Html.GetEnumSelectList<TicketCategories>()" class="form-control">
                    <option selected="selected">Selecteer een categorie</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <span asp-validation-for="TicketPriority">Prioriteit</span>
            <div class="col-sm-3">
                <select asp-for="TicketPriority" asp-items="Html.GetEnumSelectList<TicketPriorities>()" class="form-control">
                    <option selected="selected">Selecteer een prioriteit</option>
                </select>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" style="width: 150px">Ticket bewerken</button>
        <a asp-controller="Ticket" asp-action="Index" class="btn btn-secondary" style="width: 150px">Terug naar overzicht</a>
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
