@using static TicketSystemWeb.Models.Ticket
@model Ticket

<form method="post">
    <input asp-for="ticketId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Ticket</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="row">
            <span asp-validation-for="ticketStatus">Status</span>
            <div class="col-sm-3">
                <select asp-for="ticketStatus" asp-items="Html.GetEnumSelectList<ticketStatuses>()" class="form-control" disabled>
                    <option selected="selected" value="">@ticketStatuses.Gesloten</option>
                </select>
            </div>
        </div>
        <br />
        <div class="mb-3">
            <label asp-for="CreatedDateTime">Ticket voor het laatst aangepast op</label>
            <input asp-for="CreatedDateTime" disabled class="form-control">
            <br />
            <label asp-for="ticketId">Ticketnummer</label>
            <input asp-for="ticketId" disabled class="form-control">

            <br />
            <label asp-for="ticketSubject">Onderwerp</label>
            <input asp-for="ticketSubject" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="ticketSubject">Probleemomschrijving</label>
            <textarea asp-for="ticketContent" disabled class="form-control" rows="7"></textarea>
        </div>
        <div class="row">
            <span asp-validation-for="ticketCategory">Categorie</span>
            <div class="col-sm-3">
                <select asp-for="ticketCategory" asp-validation-for="ticketCategory" class="form-control" disabled>
                    <option value="0">Windows</option>
                    <option value="1">macOS</option>
                    <option value="2">Printer</option>
                    <option value="3">Interne systemen</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <span asp-validation-for="ticketCategory">Prioriteit</span>
            <div class="col-sm-3">
                <select asp-for="ticketPriority" asp-validation-for="ticketPriority" class="form-control" disabled>
                    <option value="0">Laag</option>
                    <option value="1">Gemiddeld</option>
                    <option value="2">Hoog</option>
                    <option value="3">Kritiek</option>
                </select>
            </div>
        </div>
        <br />
        <a asp-controller="Ticket" asp-action="Index" class="btn btn-primary" style="width: 150px">Terug naar overzicht</a>
    </div>
</form>
<br />
<form method="post" asp-action="CreateReply">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Reageren</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="ticketSubject">Opmerking</label>
            <textarea asp-for="ticketContent" class="form-control" rows="7"></textarea>
            <textarea asp-for="ticketId" class="form-control" rows="7" hidden></textarea>
            <br />
            <button type="submit" class="btn btn-success" style="width: 150px">Plaats reactie</button>

        </div>
    </div>
</form>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
    }
